<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="OrchardCorePreview" value="https://nuget.cloudsmith.io/orchardcore/preview/v3/index.json" />
        <add key="CrestAppsPreview" value="https://nuget.cloudsmith.io/crestapps/crestapps-orchardcore/v3/index.json" />
    </packageSources>

    <packageSourceMapping>
        <packageSource key="OrchardCorePreview">
            <package pattern="OrchardCore" />
            <package pattern="OrchardCore.*" />
            <package pattern="TheAdmin" />
            <package pattern="TheTheme" />
            <package pattern="TheBlogTheme" />
            <package pattern="TheAgencyTheme" />
            <package pattern="TheComingSoonTheme" />
            <package pattern="SafeMode" />
        </packageSource>

        <packageSource key="CrestAppsPreview">
            <package pattern="CrestApps.OrchardCore.*" />
        </packageSource>

        <packageSource key="nuget.org">
            <package pattern="CrestApps.*" />
            <package pattern="Microsoft.*" />
            <package pattern="Ben.*" />
            <package pattern="YesSql.*" />
            <package pattern="Fluid.*" />
            <package pattern="EPPlus" />
            <package pattern="HtmlSanitizer" />
            <package pattern="Shortcodes" />
            <package pattern="OpenIddict" />
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>
</configuration>
