@charset "UTF-8";

body > header {
    height: 60px;
}

    body > header > nav {
        height: 60px;
    }

body > main {
    margin-top: 1rem;
}

/* Navbar styles */
.navbar {
    --bs-navbar-color: rgba(174, 161, 117);
    --bs-navbar-hover-color: #fff;
    --bs-navbar-brand-color: rgba(174, 161, 117);
    --bs-navbar-brand-hover-color: #fff;
    --bs-navbar-toggler-border-color: rgba(174, 161, 117);
    color: rgba(174, 161, 117) !important;
    background-color: rgb(96, 137, 119);
}

/* (Site Name) */
.navbar-brand {
    color: #fff; /* Site name color */
    font-size: 1.5rem; /* Adjust size of site name */
    font-weight: bold;
    text-decoration: none;
}

    .navbar-brand:hover {
        color: rgba(174, 161, 117);
        text-decoration: none;
    }

/* Control the logo size */
.Logo {
    max-height: 60px;
    width: auto;
}

@media (max-width: 576px) {
    .navbar-brand {
        font-size: 1.2rem;
    }

    .Logo {
        max-height: 30px;
    }
}
