<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">@T["An error occurred while executing this request."]</h1>

        <a href="~/" class="btn btn-primary">@T["Go Home"]</a>
    </div>
</div>
