<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">@T["You do not have access to this resource."]</h1>
        <p class="lead">
            <span class="text-danger">@T["Opps!"]</span> @T["Your current permissions do not grant you access to this page. If you believe you should have access, kindly reach out to your Administrator for assistance."]
        </p>
        <a href="~/" class="btn btn-primary">@T["Go Home"]</a>
    </div>
</div>
